body {
    overflow: hidden;
    background: linear-gradient(290deg, rgba(0,0,0,1) 28%, rgba(92,208,187,1) 100%);
}
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 170px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}

form {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: royalblue;
}
    
label {
    color: rgb(187, 190, 174);
}

#name {
    border-radius: 7px;
    color: white;
    background-color: #2e7e65;
}

#btn {
    background-color: #248c71;
    color: rgb(187, 190, 174);
    width: 100%;
    justify-items: center;
}