* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: brown;
    
}

.h-50px {
    height: 50px;
    /* padding: 50vw; */
}
.percent {
    background-color: aqua;
    width: 50%;
    /* height: 100vh; */
}

.p80 {
    background-color: blue;
    width: 80%;
}

.p50 {
    background-color: red;
    width: 50%;
}

.daneehand {
    font-family: daneehand;
}

@font-face {
    font-family:"daneehand" ;
    src:url("./fonts/Daneehand\ Regular\ Cyr.ttf") ;
}