*{
    margin: 3px;
    padding: 1px;
}

.logo {
    display: flex;
    color: aliceblue;
  justify-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.search {
    display: flex;
    background-color: rgb(35, 35, 123);
    justify-content: center;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

.name {
    color: aliceblue;
    justify-content: end;
}

.info {
    position: relative;
}

.nav {
    width: 100%;
    left: 20%;
}

.info {
    bottom: 90%;
    left: 50%;
    width: 50%;
  
}