.d1 {
    /* height: 50px; */
    background-color: blue;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 25px;
    padding: 5px 10px;
}

.d2 {
    height: 50px;
    background-color: chocolate;
    margin: 20px 10px 15px 5px;
}