/* #parent {
    width: 500px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#child-1 {
    width: 300px;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#child-2 {
    width: 300px;
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}