.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

.wh {
    width: 300px;
    height: 300px;
    position: absolute;
}

.red {
    background-color: red;
    left: 0;
    top: 0;
    z-index: 4;
    opacity: 0.4;
}

.blue {
    background-color: blue;
    right: -30px;
    top: 90px;
    z-index: 3;
    overflow: auto;
}

.green {
    background-color: green;
    left: 0;
    bottom: 0;
}

.yellow {
    background-color: yellow;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.purple {
    background-color: purple;
    left: 50%;
    top: 50%;
}

.parent {
    background-color: orange;
    width: 300px;
    height: 300px;
}