#hh {
    color: brown;
}

#pr {
    color: rgb(62, 231, 161);
}
#fr {
color: pink;
}
h3 {
    color: rgb(229, 63, 88);
}
.body {
    color: yellow;
}
#here {
    background-color: rgb(57, 209, 225);
}
#the {
    background-color: rgb(242, 85, 184);
}